* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background: #191622;
  --background-dark: rgb(19, 17, 27);
  --background-light: rgb(32, 27, 45);
  --text: rgb(170, 170, 170);
  --cyan: rgb(71, 194, 225);
  --green: rgb(103, 228, 116);
  --red: rgb(228, 89, 89);
  --pink: rgb(241, 121, 198);
}

body, input, button, textarea, select {
  font-family: 'Fira Code';
}

.container {
  display: flex;

  width: 100vw;
  height: 100vh;

  background-color: var(--background);

  overflow: hidden;
}

.container .menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  padding: 48px 32px;

  width: 320px;

  background-color: var(--background-dark);
}

.container .menu h1 {
  font-size: 44px;
  color: var(--text);
  margin-bottom: 20px;
}

.container .menu button {
  margin-top: auto;
  font-weight: 700;
}

.container #content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

  width: 100%;
}

.propagation-button {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;

  width: 400px;
  
  margin-top: 24px;
}

button {
  min-width: 100%;
  height: 52px;

  font-size: 20px;

  outline: none;
  border: 1px solid var(--cyan);

  color: var(--text);
  background-color: var(--background-dark);

  transition: all 0.3s;
}

button:hover {
  border: 1px solid var(--green);
  filter: brightness(120%);
  cursor: pointer;
}

input {
  width: 100%;
  height: 52px;

  padding: 4px 16px;
}

select {
  width: 100%;
  height: 52px;
  padding: 4px 16px;
}

label {
  color: var(--text);
  font-weight: 700;
}

#info {
  position: absolute;
  top: 20px;
  left: 24px;

  /* text-transform: uppercase; */
  color: var(--text);
  font-size: 10px;
}

.last-buttons {
  width: 100%;
  margin-top: auto;
}

.last-buttons #show-tree-button {
  display: none;
  margin-top: 8px;
}

#config-container {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  z-index: 10;
}

#config {
  width: 512px;
}

#puzzle {
  width: 400px;
  height: 400px;
  image-rendering: pixelated;
  background-color: var(--background-dark);
}

#tree-view {
  display: none;
  position: relative;

  width: 100%;
}